# Environment Variables
# Salin file ini menjadi .env dan isi nilainya
# JANGAN commit .env ke version control!

# URL API backend (boleh di client karena tidak sensitif)
NEXT_PUBLIC_API_URL=http://localhost:3000/api/v1

# Nama aplikasi
NEXT_PUBLIC_APP_NAME=Florist App
